.wrapper{
    border: 2px solid black;
    height: 50px;
}
.progress_bar{
    background: green;
    height: 100%;
    width: 0%;
    transition: width 7s ease-in;

}

.wrapper:hover .progress_bar{
    width: 100%;
    
}